* {
    box-sizing: border-box; padding: 0; margin: 0;
}
body {
    background-color: lightblue; padding: 1rem;
}
main {
    background: violet;
    padding: 1rem;
}
section {
    display: grid;
    grid-template-columns: 2rem 1fr 150px 150px 200px 100px 40px 2rem;
    grid-template-rows: 2rem 1rem 100px 85px 140px 1rem 2rem ;
    border: solid 3px red;
    background: white;
}

img { grid-area:  2 / 3 / -2 / -2 ;}

article {
    grid-area:  1 / 1 / 9 / 9;
    border: solid green 2px;
    border-radius: 1rem;
    margin: 1rem;
    background: rgb(55, 37, 212);
}

h2 {
    grid-area: 3 / 2 / 4 / 4;
    background: black ; z-index: 2; text-align: center; color: antiquewhite;
    padding: 2rem; font-size: xx-large;
    z-index: 2; border-radius:  2rem; font-weight: 900;
}
p {
    grid-area: 5 / 2 / 6 / 5 ;
    background: rgba(155, 155, 18, 0.507); z-index: 2; border-radius:  2rem;
    padding: 2rem; font-size: 1.5rem;    
}
a {
    grid-area: 5 / -4 / 6 / -3;
    text-decoration: none;
    color: aliceblue;
    background: red;
    border-radius: 2rem;
    height: 60px;
    padding: 1rem; align-self: end;
    box-shadow: 2px 2px 2pxcd  brown;
}
a:hover {background: black;}