body{
    border: red dashed 5px;
    padding:  1rem;
}

header{
    border: blue solid 1px;
    padding: 1rem;
}
nav{
    border: 1px rgb(148, 62, 62) solid;
    border-radius: 1rem;
}
ul {list-style-type: none;

}
li{
    background: lightgoldenrodyellow;
    display: inline;
    padding: 1rem;
}
nav a{
    text-decoration: none;
}
main{
    border: dotted 5px green;
    padding: 1rem;
    margin: 1rem;
}
footer{
    background: black;
    color:wheat
}
p{text-align: justify;}
